body{
    display: flex;
}
.container{
    padding: 20px;
    height: 400px;
    width: 500px;
    border: 3px solid black;
    margin-top: 200px;
    margin-left: 400px;
    background-color:blanchedalmond;
    text-align: center;

}
#weight-guide{
    padding: 10px;
    margin-top: 10px;
}
/* .results{
    height: 40px;
    width: 120px;
    border: 2px solid black;
    display: flex;
    margin-left: 180px;
    margin-top: 15px;
} */
.btn{
    height: 20px;
    width: 80px;
    border: 2px solid black;
    cursor: pointer;
}