*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rosybrown;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    border-radius: 5px;
    background-color:lightseagreen;
    height: auto;
    width: 300px;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    box-shadow: 20px 20px 20px ;
    padding-bottom: 10px;
    margin: 10vh auto;
    padding: 10px;

}
h1{
    text-align: center;
}
.image{
    align-items: center;
    padding:15px;
    position:absolute;
    margin: 0;
    position: relative;
}
.info{
    display: flex;
}
.buttom{
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    display: flex;
}
.buynow button{ 
    border: 2px solid #333;
    border-radius: 5px;
    font-size: medium;
    background-color:darkgreen;
    height: 35px;
    width: 90px;
    cursor: pointer;
}
.add-to-card button{ 
    border: 2px solid #333;
    border-radius: 5px;
    background-color:chocolate;
    font-size: medium;
    height: 35px;
    width: 90px;
    cursor: pointer;
}
.add-to-card button:hover{
    background-color: rgb(236, 155, 97);
}

.buynow button:hover{
    background-color: rgb(58, 210, 58);
}